:root {
    --cor-voluntario: #5d9b5b; /* Verde */
    --cor-admin: #3b5998;     /* Azul */
    --bg-body: #f4f5f7;
    --texto-escuro: #333;
}

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0; 
    background-color: var(--bg-body); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    color: var(--texto-escuro);
    transition: all 0.3s;
}

.container { 
    width: 100%; 
    max-width: 380px; 
    background: white; 
    padding: 30px 20px; 
    border-radius: 12px; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); 
    text-align: center; 
}

.logo { 
    font-size: 26px; 
    font-weight: 800; 
    color: #2c3e50; 
    margin-bottom: 5px; 
    letter-spacing: 2px;
}

.sublogo {
    font-size: 12px;
    color: #7f8c8d;
    margin-bottom: 30px;
}

.btn { 
    display: block; 
    width: 100%; 
    padding: 12px; 
    margin: 15px 0; 
    border: none; 
    border-radius: 6px; 
    color: white; 
    font-size: 14px; 
    font-weight: bold;
    cursor: pointer; 
    transition: opacity 0.2s;
}

.btn:hover { opacity: 0.9; }
.btn-voluntario { background-color: var(--cor-voluntario); }
.btn-admin { background-color: var(--cor-admin); }
.hidden { display: none !important; }

input { 
    width: 90%; 
    padding: 12px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    font-size: 14px;
}

/* Estilos do Dashboard (Logado) */
.dashboard { 
    display: none; 
    width: 100%; 
    max-width: 900px; 
    height: 85vh; 
    background: white; 
    border-radius: 12px; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); 
    flex-direction: row; 
    overflow: hidden;
}

.sidebar { 
    width: 250px; 
    background: #2c3e50; 
    color: white; 
    display: flex; 
    flex-direction: column; 
}

.sidebar h2 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    background: #1a252f;
    letter-spacing: 1px;
}

.sidebar button { 
    background: none; 
    border: none; 
    color: #ecf0f1; 
    text-align: left; 
    padding: 15px 20px; 
    cursor: pointer; 
    font-size: 15px; 
    border-bottom: 1px solid #34495e; 
    transition: background 0.2s;
}

.sidebar button:hover { background: #34495e; }

.main-content { 
    padding: 30px; 
    flex-grow: 1; 
    text-align: left; 
    overflow-y: auto; 
    background: #f9fbfc;
}

.header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 2px solid #eee; 
    padding-bottom: 15px; 
    margin-bottom: 20px;
}

.card { 
    background: white; 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border-left: 5px solid var(--cor-voluntario); 
}